header{
  background: #4aaaa5;
  color: #ffffff;
  border: 1px solid #cccccc;
  font-family: 'Georgia', Times, Times New Roman, serif;
  width: 20%;
  height: 50px;
  text-align:center;
  z-index: -1;
  padding-bottom: 20px;
  margin-left: 200px;
}
li {
  display: inline-block;
  margin-left: 30px;
  margin-top:0px;
  color: #777777;
}
ul{
  text-align: right;
  padding-right:200px;
  padding-top:0px;
}
.body{
  width: 800px;
  height: 300px;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: small;
  background: #ffffff;
  border: 2px solid #dddddd;
  padding: 50px;
  outline-style: solid;
  outline-color: hsla(0,0%,0%,0.1);
  outline-width: 500px; 
  margin:auto;
}
#basic_portfolio{
    border-block-end: 1px solid #dddddd;
    color: #4aaaa5;
}
p{
  text-align: left;
  letter-spacing: normal;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
img{
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 2%;
  margin-right: 10px;
}
footer{
    text-align: center;
    color: #ffffff;
    background: #666666;
    width: 100%;
    height: 100%;
    border-block-start: 10px solid #4aaaa5;
    margin-top:50px;
}
#Name{
  width: 100%;
}
#Email{
  width: 100%;
}
#Message{
  height: 100px;
  width: 100%;
}
.simple_button{
  background: #4aaaa5;
  color: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
}
